*{
    margin: 0;
    padding: 0;
    font-family: 'Xanh Mono', monospace;
}
:root{
    --navvar-height:59px;
}
#navbar{
    display: flex;
    align-items: center;
    position:fixed;
}
/* Logo and Image */

#logo img{
    height: 50px;
}
 /* Navigation Bar: list styling */


#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .6;
}
#navbar ul li{
    list-style: none;
    font-size: 2rem;
}
#navbar ul li a{
    display: block;
    padding: 3px 30px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    font-weight: 900;
    color: black;
    background-color: white;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 650px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background:  url(/img/bg1.jpg);
    top: 0;
    left: 0;
    height: 656px;
    width: 100%;
    z-index: -1;
    opacity: 0.49;
}

#home h1{
    color: red;
    text-align: center;
}

#home p{
    color: red;
    text-align: center;
}

/* utility classes */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}
.btn{
    cursor: pointer;
    padding: 6px 20px;
    border: 2px outset white;
    background-color: brown;
    color: white;
    margin: 20px;
    font-size: 2rem;
    border-radius: 13px;
}
.btn:hover{
    color: brown;
    background-color: white;
    font-weight: 900;
}
.center{
    text-align: center;
}

/* services section */
.services-container{
    margin-top: 10px;
}
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    margin: 15px;
    padding: 20px;
    border: 2px inset orange;
    border-radius: 50px;
    background-color: #f1f1f1;
}
#services .box img{
    height: 150px;
    display: block;
    margin: auto;
}
/* our clients */

#client-section{
    color: white;
    height: 344px;
    display: flex;
    flex-direction: column;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(../img/bg2.jpg);
    width: 100%;
    height: 344px;
    z-index: -1;
    opacity: .89;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    width:9rem;
    padding: 50px;
} 

/* Contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../img/bg3.jpg);
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

#contact-box input{
    width: 100%;
    padding: .5rem;
    border-radius: 9px;
    font-size: 1.3rem;
}
#contact-box textarea{
    width: 100%;
    padding: .5rem;
    border-radius: 23px;
    font-size: 1.3rem;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}

.submit{
    background-color: white;
    border: 2px solid #fcd4d4;
    color:#ff9b9b;
}
.submit:hover{
    background-color: #fab2b2;
    color: white;
}


/* Footer*/
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

